<footer class="container footer-container">
  <p class="text-center">小田媳妇&小田先生™家庭财务管理系统（2020年6月21日父亲节，感谢父母大人）
    <br>Design by
    <%= link_to "Lily", "https://github.com/chenyunli6", target: "_blank" %>
    <br>Modify by
    <%= link_to "小田先生", "https://github.com/dorbodwolf", target: "_blank" %>
  </p>
</footer>
